
inventory/production
group_vars/production

roles/nginx/templates/htpasswd

roles/nginx/files/ssl/default.crt
roles/nginx/files/ssl/default.csr
roles/nginx/files/ssl/default.key

inventory/temp

.vagrant

#
# Vim droppings
#
*.swp

#
# Ignore all Splunk packages, but not the Splunk role
#
splunk*
!roles/splunk/

